rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /businesses/{cid} {
      allow read: if request.auth != null;
      allow write: if false; // server-side only via Admin SDK
    }

    match /users/{uid} {
      allow read: if request.auth != null && request.auth.uid == uid;
      allow write: if false; // server-side only via Admin SDK

      // Allow users to update their own preferences
      match /preferences/{doc} {
        allow read, write: if request.auth != null && request.auth.uid == uid;
      }

      match /searches/{searchId} {
        allow read: if request.auth != null && request.auth.uid == uid;
        allow delete: if request.auth != null && request.auth.uid == uid;
        allow create, update: if false; // server-side only via Admin SDK
      }

      match /savedLeads/{cid} {
        allow read, write: if request.auth != null && request.auth.uid == uid;
      }
    }
  }
}
